APP_NAME= 

DEBUG= 

HOST= 
PORT= 

DATABASE_URL= 

 

SECRET_KEY= 
ALGORITHM=HS256

ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_DAYS=7

REDIS_URL= 

REDIS_HOST= 
REDIS_PORT= 
REDIS_DB= 

AWS_ACCESS_KEY_ID= 
AWS_SECRET_ACCESS_KEY= 
AWS_REGION= 
AWS_BUCKET_NAME= 
